<!DOCTYPE html>
<html lang="en">
{% extends "base.html" %}
<head>
    <link rel="stylesheet" href="{{ url_for('home.static', filename='css/style.css') }}">
</head>
<body>
    {% block content %}
        <div class="container">
        <div class="form-container">
            <h1 >Optimiser PDF</h1>
            <form action="/optimize_PDF" method="post" enctype="multipart/form-data">
                <div class="input-group mb-3">
                  <input type="file" class="form-control" name="pdf_file" id="inputGroupFile02" accept=".pdf" required>
                  <label class="input-group-text" for="inputGroupFile02">Upload</label>
                </div>
                <button type="submit" class="btn btn-primary">Optimiser</button>
            </form>
        </div>
    </div>
    {% endblock %}
</body>
</html>
